@import '../../../vars.scss';

.wrapper {
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: $color-quaternary;
    button{
        cursor: pointer;
        background: transparent;
        border: 0;
        color: $text-light;
        font-size: 2rem;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        display: flex;
        align-items: center;
        text-align: center;
    }
}