.FlexContainer {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.Form {
  display: flex;
  font-size: 0.9rem;
  font-weight: 400;
}

.LoginForm, .RegisterForm {
  background-color: #e3ecea;
  border: 1px solid  #b1c2be;
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;
  width: fit-content;
}

.AdminForm {
  align-items: center;
  box-shadow: 0 3px 10px #b5b5b5;
  justify-content: center;
  padding: 10px;
}

.FormField {
  display: inline-flex;
  flex-direction: column;
  margin: 5px;
}

.FormFieldName {
  margin: 0 3px;
}

.FormFieldInput, .Button {
  border-radius: 5px;
  outline: none;
}

.FormFieldInput {
  background-color: white;
  border: 1px solid rgb(138, 138, 138);
  color: black;
  font: inherit;
  height: 32px;
  margin-top: 5px;
  padding: 0 5px;
  width: 250px;
}

.Button {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  height: 36px;
  margin: 8px;
  padding: 0 8px;
}

.LoginForm .Button, .RegisterForm .Button {
  margin: 15px 5px 5px;
}

.ButtonLogin {
  background-color: white;
  border: 2px solid #036b52;
  color: #036b52;
}

.ButtonRegister {
  background: #036b52;
  color: white;
}

.ButtonRegister:hover {
  background: #0c8365;
}

.Button:disabled {
  background: #bfd3ce;
  border: 2px solid #a3c7be;
  color: #66978b;
}

